# =========================
# FRONTEND (React / Vite)
# =========================
Frontend/node_modules/
Frontend/dist/
npm-debug.log*

# =========================
# BACKEND & ENTORNOS VIRTUALES
# =========================
venv/
.venv/
env/
__pycache__/
*.pyc

# =========================
# SECRETOS Y BASES DE DATOS
# =========================
.env
*.db
*.sqlite3