# =========================
# FRONTEND (React / Vite)
# =========================
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# BACKEND (Python / FastAPI)
# =========================
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VARIABLES DE ENTORNO Y SECRETOS (¡CRÍTICO!)
# =========================
.env
.env.local
.env.*.local
*.pem

# =========================
# BASES DE DATOS LOCALES
# =========================
*.sqlite3
*.db
